<div class="p-5">
    <div class="text-center my-5"><header class="h1">Icons</header></div>

    account_box <mat-icon>account_box</mat-icon> <br>

    aspect_ratio aspect ratio icon	<mat-icon color="primary">aspect_ratio</mat-icon> <br>
    assessment assessment icon	<mat-icon>assessment</mat-icon> <br>
    assignment assignment icon	<mat-icon>assignment</mat-icon> <br>
    assignment_ind assignment ind icon	<mat-icon>assignment_ind</mat-icon> <br>
    assignment_late assignment late icon	<mat-icon>assignment_late</mat-icon> <br>
    assignment_return assignment return icon	<mat-icon>assignment_return</mat-icon> <br>
    assignment_returned assignment returned icon	<mat-icon>assignment_returned</mat-icon> <br>
    assignment_turned_in assignment turned in icon	<mat-icon>assignment_turned_in</mat-icon> <br>
    autorenew autorenew icon	<mat-icon>autorenew</mat-icon> <br>
    backup backup icon	<mat-icon color="primary">backup</mat-icon> <br>
    done_outline icon	<mat-icon color="accent">done_outline</mat-icon> <br>
</div>