<mat-accordion multi="false">

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>Angular Fundamental</mat-panel-title>
      <mat-panel-description>Total Duration 3 hour</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit aperiam distinctio commodi! Nisi et incidunt error officia velit repudiandae eveniet explicabo, commodi perspiciatis esse dolorum expedita dolores alias ad!</p>
    <mat-action-row>
      <button mat-raised-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>React Fundamental</mat-panel-title>
      <mat-panel-description>Total Duration 2 hour</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit aperiam distinctio commodi! Nisi et incidunt error officia velit repudiandae eveniet explicabo, commodi perspiciatis esse dolorum expedita dolores alias ad!</p>
    <mat-action-row>
      <button mat-raised-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>



  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>C++ Fundamental</mat-panel-title>
      <mat-panel-description>Total Duration 4 hour</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit aperiam distinctio commodi! Nisi et incidunt error officia velit repudiandae eveniet explicabo, commodi perspiciatis esse dolorum expedita dolores alias ad!</p>
    <mat-action-row>
      <button mat-raised-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>



  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>C Fundamental</mat-panel-title>
      <mat-panel-description>Total Duration 5 hour</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugit aperiam distinctio commodi! Nisi et incidunt error officia velit repudiandae eveniet explicabo, commodi perspiciatis esse dolorum expedita dolores alias ad!</p>
    <mat-action-row>
      <button mat-raised-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
