<div class="p-5 bg-light">
    <header class="text-center"><div class="h1">Angular Material</div></header>
    <button mat-raised-button color="primary" [routerLink]="['/basic']"   data-bs-toggle="modal" data-bs-target="#exampleModal">Basic</button>
    <button mat-raised-button                 [routerLink]="['/button']"  data-bs-toggle="modal" data-bs-target="#exampleModal">Buttons</button>
    <button mat-raised-button color="accent"  [routerLink]="['/text']"    data-bs-toggle="modal" data-bs-target="#exampleModal">Text</button>
    <button mat-raised-button color="warn"  [routerLink]="['/icon']"    data-bs-toggle="modal" data-bs-target="#exampleModal">Icon</button>
    <button mat-raised-button color="primary"  [routerLink]="['/badge']"    data-bs-toggle="modal" data-bs-target="#exampleModal">badge</button>
    <button mat-raised-button color="accent"  [routerLink]="['/progress-spinner']"    data-bs-toggle="modal" data-bs-target="#exampleModal">Progress Spinner</button>
    <button mat-raised-button color=""  [routerLink]="['/navbar']"    data-bs-toggle="modal" data-bs-target="#exampleModal">Navbar</button>




    <!-- Modal -->
  <div class="modal  fade bd-example-modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
