
<header class="text-center"><div class="h1" >Font Size</div></header>

<div class="mat-display-4">.mat-Display-4  ==>>  112px, one-off header, usually at the top of the page (e.g. a hero header).</div> <br>
<div class="mat-display-3">.mat-Display-3  ==>>   56px, one-off header, usually at the top of the page (e.g. a hero header). </div> <br>
<div class="mat-display-2"> .mat-Display-2  ==>>  45px, one-off header, usually at the top of the page (e.g. a hero header). </div> <br>
<div class="mat-display-1"> .mat-Display-1  ==>>   34px, one-off header, usually at the top of the page (e.g. a hero header). </div> <br>


<div class="h1"> .mat-h1 or .mat-headline   ==>>  Section heading corresponding to the 'h1' tag.</div> <br>
<div class="h2">.mat-h2 or .mat-title  ==>>  Section heading corresponding to the 'h2' tag.</div> <br>
<div class="h3">.mat-h3 or .mat-subheading-2  ==>>  Section heading corresponding to the 'h3' tag. </div> <br>
<div class="h4">.mat-h4 or .mat-subheading-1  ==>>  Section heading corresponding to the 'h4' tag. </div> <br>
<div class="h5">.mat-h5  ==>>  Section heading corresponding to the 'h5' tag. </div> <br>
<div class="h6">.mat-h6  ==>>   Section heading corresponding to the 'h6' tag.</div> <br>
